Source: vdirsyncer
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Filip Pytloun <filip@pytloun.cz>
Section: utils
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python (>= 2.20160609~),
               python3-all,
               python3-atomicwrites (>= 0.1.7),
               python3-click (>= 5.0),
               python3-click-log (>= 0.1.3),
               python3-click-threading (>= 0.2),
               python3-lxml,
               python3-pytest,
               python3-requests (>=2.4.1),
               python3-requests-toolbelt (>= 0.4.0),
               python3-setuptools,
               python3-sphinx,
               python3-sphinx-rtd-theme
Standards-Version: 3.9.8
Testsuite: autopkgtest-pkg-python
Homepage: https://github.com/untitaker/vdirsyncer
Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/vdirsyncer.git/
Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/vdirsyncer.git

Package: vdirsyncer
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Synchronize calendars and contacts
 Vdirsyncer synchronizes your calendars and addressbooks between two storages.
 The most popular purpose is to synchronize a CalDAV/CardDAV server with a local
 folder or file. The local data can then be accessed via a variety of programs,
 none of which have to know or worry about syncing to a server.
 .
 It aims to be for CalDAV and CardDAV what OfflineIMAP is for IMAP.

Package: vdirsyncer-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Synchronize calendars and contacts - documentation
 Vdirsyncer synchronizes your calendars and addressbooks between two storages.
 The most popular purpose is to synchronize a CalDAV/CardDAV server with a local
 folder or file. The local data can then be accessed via a variety of programs,
 none of which have to know or worry about syncing to a server.
 .
 It aims to be for CalDAV and CardDAV what OfflineIMAP is for IMAP.
 .
 This package contains the documentation for vdirsyncer.
