#!/usr/bin/make -f

VER ?= $(shell dpkg-parsechangelog -SVersion)

export PYBUILD_NAME=vdirsyncer
%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build:
	echo "version = '$(VER)'" > vdirsyncer/version.py
	dh_auto_build
	PYTHONPATH=$(CURDIR) make -C docs man

override_dh_auto_clean:
	rm -f vdirsyncer/version.py
	dh_auto_clean
